In [ ]:
#simple program for sum "+" using int
n1=int(input())
n2=int(input())
total=n1+n2
print(n1,n2)
print(total)

45
32
45 32
77

In [ ]:
#simple program for sum "+" using float
n1=float(input())
n2=float(input())
total=n1+n2
print(n1,n2)
print(total)

67.54
54.9
67.54 54.9
122.44

In [ ]:
#simple program for sum "+" using string
n1=str(input())
n2=str(input())
total=n1 + n2
print(n1,n2)
print(total)

india
 won the match
india  won the match
india won the match

In [ ]:
# simple program on string with index operation
s1=str(input("enter the string"))
print(s1[4])
print(s1[-3])
print("length:",len(s1))
print(s1.upper( ))
print(s1.lower( ))
print(s1[2:5])
print(s1[::-1])

enter the stringIndia
a
d
length: 5
INDIA
india
dia
aidnI

In [ ]:
#simple program on list operations
fruits=["orange","banana","mango"]
print(fruits[1])
print(fruits[-1])
print("original list:")
print(fruits)
print("appended list is:")
fruits.append("grapes")
print(fruits)
print("deleted list is:")
fruits.remove("banana")
print(fruits)
fruits.sort()
print(fruits)
fruits.pop()
print(fruits)
fruits.reverse()
print(fruits)

banana
mango
original list:
['orange', 'banana', 'mango']
appended list is:
['orange', 'banana', 'mango', 'grapes']
deleted list is:
['orange', 'mango', 'grapes']
['grapes', 'mango', 'orange']
['grapes', 'mango']
['mango', 'grapes']

In [ ]:
#simple program on dictionary datatypes and operations
person={'name':'syed ahamed ali', 'age':22}
print(person['name'])
print(person['age'])
person['city']='vijayawada'
print(person)
# get keyword, keys , values
print(person.get("age"))
print(person.keys())
print(person.values())

syed ahamed ali
22
{'name': 'syed ahamed ali', 'age': 22, 'city': 'vijayawada'}
22
dict_keys(['name', 'age', 'city'])
dict_values(['syed ahamed ali', 22, 'vijayawada'])

In [ ]:
#simple programs on tuples datatypes
tup=('1',[0,1],'sky',56,66.92)
print(tup[0])
print(tup[1][:1])
print(len(tup))
print(tup[1:3])
#membership operate which check the element present in tuple or not
print(66.92 in tup)
print(66.92 not in tup)

1
[0]
5
([0, 1], 'sky')
True
False

In [ ]:
# tuple with a list
t=(1,2,[3,4,5])
print(t)
t[2].append(6)
print(t)
t[2][2]=55
print(t)

(1, 2, [3, 4, 5])
(1, 2, [3, 4, 5, 6])
(1, 2, [3, 4, 55, 6])

In [ ]:
#nested list
nes=[[1,2],[3,4],[5,6]]
print(nes)
print(nes[0])
print(nes[1][0])

[[1, 2], [3, 4], [5, 6]]
[1, 2]
3